* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 250, 242);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px 40px;
}

/*  header */
.header {
    display: flex;
    justify-content: center;
}

/* div info */
.header img {
    max-width: 100%;
    height: auto;
}

.info {
    text-align: center;
    margin-top: 5px;
}

.info img {
    max-width: 100%;
    height: 25px;
    cursor: pointer;
}

.scoreRow {
    max-width: 100%;
    font-size: small;
    border: 3px solid #F7AC15;
    margin: 5px auto;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: space-evenly;
    background-color: #FFE082;
    box-shadow: 0px px 3px rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-radius: 8px;
    color: #DD00AE;
}

/* div box */
.box {
    margin: auto;
    position: relative;
}

.leftSide,
.rightSide {
    float: left;
    position: absolute;
    width: 100%;
    height: 250px;
    border-radius: 15px;
    border: 3px solid rgb(170, 187, 153);
    background-color: rgb(218, 208, 170);
}

.rightSide {
    top: 250px;
    margin-top: 2px;
}

.fruit {
    position: absolute;
    width: 50px;
    cursor: pointer;
}

/* game over pop up */
.popUpGameOver {
    max-width: 100%;
    height: auto;
    border: 3px solid #F7AC15;
    background-color: #FFE082;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    text-align: center;
    padding: 0 30px 30px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
}

.cat {
    width: 50%;
}

.popUpGameOver h2,
#notifDiv {
    font-size: small;
}

.imgbtn {
    max-width: 100%;
    height: 35px;
    cursor: pointer;
}

/* level pop up */
.popUpLevel {
    max-width: 100%;
    height: 70px;
    background-color: #FFE082;
    border: 3px solid #F7AC15;
    border-radius: 10px;
    align-items: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    text-align: center;
    padding: 0 5px 0 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s, top 0.4s;
}

.selectLevel {
    max-width: 100%;
    height: 25px;
}

.level {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-between;
}

.level img {
    width: 90px;
    border: none;
    cursor: pointer;
    filter: drop-shadow(3px 3px 5px rgb(114, 114, 114));
    padding: 0 8px;
}

.openPopupLevel {
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
}

.footer {
    margin-top: 510px;
    font-size: small;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .header img {
        max-width: 800px;
        height: auto;
    }

    .info img {
        max-width: 100%;
        height: 50px;
    }

    .scoreRow {
        max-width: 800px;
        font-size: 20px;
        border: 5px solid #F7AC15;
    }

    .popUpLevel {
        width: 600px;
        height: auto;
    }
    
    .selectLevel {
        width: 400px;
        height: auto;
    }
    
    .level img {
        width: 150px;
        padding: 25px 0;
    }
    
    .popUpGameOver {
        width: 400px;
        height: auto;
        border: 5px solid #F7AC15;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.1);
        visibility: hidden;
        transition: transform 0.4s, top 0.4s;
    }
    
    .open-popup {
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
        visibility: visible;
    }
    
    .popUpGameOver h2,
    #notifDiv {
        font-size: 25px;
    }
    
    .imgbtn {
        width: 120px;
        height: auto;
    }

    /* div box */
    .leftSide,
    .rightSide {
        width: 50%;
        height: 450px;
    }

    .rightSide {
        left: 50%;
        top: 0;
        margin-top: 0;
        margin-left: 2px;
    }

    .fruit {
        position: absolute;
        width: 70px;
    }

    .footer {
        margin-top: 460px;
    }
}