body {
    background-color: rgb(255, 250, 242);
    font-family: Arial, Helvetica, sans-serif;
}

img {
    position: absolute;
    width: 100px;
    cursor: pointer;
}

.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 600px;
    margin: auto;
    padding: 10px;
    height: 120px;
}

.info {
    text-align: center;
}

#startBtn,
#resetBtn {
    background-color: rgb(136, 189, 238);
    font-weight: 600;
    border: none;
    box-shadow: 0px 0px 5px rgb(181, 181, 182);
    padding:  10px 20px;
}


.instruction {
    color:rgb(64, 64, 64);
    font-weight: 600;
}

#leftSide,
#rightSide {
    position: absolute;
    width: 50%;
    height: 500px;
    background-color: rgb(238, 240, 189);
}

#rightSide {
    left: 50%;
    border-left: 6px solid rgb(255, 255, 255);
}

button {
    border: none;
    background-color: rgb(251, 139, 252);
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border-style: outset;
}